<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-start">
        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#createTeamModal"><i class="fas fa-plus"></i> Create Team</button>
      </form>
    </nav>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="pointer">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of leaderTeamStore" class="pointer">
          <td>{{team.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-create-team-form></app-create-team-form>